<h1>Добро пожаловать в пробное приложение</h1>

<h2>Это страница с кратким описанием проекта.</h2>
<h3> <a href="https://thinknetica.com/">Thinknetica</a></h3>

<%= link_to "об авторе", about_author_url %>

