<div class="nav nav-admin">
  <span class "nav-admin title"><%= t('.panel') %></span>

  <div class="nav-admin user">
    <%= t('.welcoming') %> <b class="nav-admin user-email"><%= current_user.first_name %></b>  |
    <%= link_to t('.quit'), destroy_user_session_path, method: :delete %>
  </div>
</div>
