<div align="left">
    <%= current_year %> год
    <h3>Александр Казанцев</h3>
    <li><%= github_url("Lesiantus", "New_project") %></li>
    <li><%= link_to 'Учебный проект в онлайн школе Thinknetica', 'https://thinknetica.com', target: '_blank' %></li>
</div>
