<h1><%= t('.header', title: @result.test.title) %></h1>

<% if @result.successfull? %>

  <h2 style="color: green;"><%= t('.success', test_name: @result.test.title, percent: @result.success_count) %></h2>

<% else %>

  <h2 style="color: red;"><%= t('.fail', test_name: @result.test.title, percent: @result.success_count) %></h2>

<% end %>

<%= link_to t('.back'), tests_path %>



