.pointer {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.green-color {
  color:green;
}

.red-color {
  color:red;
}

.all-test {
  width: 100%;
  height: 25px;
  background-color: #ddd;
}

 .progress-bar {
  width: 0%;
  background-color: #0096FF;
}
